<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=no">

  <title>指定された式でグラフを描画</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <!-- original CSS -->
  <link rel="stylesheet" href="/static/graph.css">
</head>

<body>
  <div class="container">
    <header>
      <h1>パラメータ指定部</h1>
      <form action="/graph/" method="POST">
        {{ form.csrf_token }}

        <div class="form-row">
          <div class="form-group col">
            {% for error in form.expression.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}

            {{ form.expression.label }}
            {{ form.expression(class="form-control", placeholder="a*(x**2)+b*x+c") }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md2">
            {% for error in form.a_value.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
            {{ form.a_value.label }}
            {{ form.a_value(class="form-control", placeholder="1") }}
          </div>
          <div class="form-group col-md2">
            {% for error in form.b_value.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
            {{ form.b_value.label }}
            {{ form.b_value(class="form-control", placeholder="1") }}
          </div>
          <div class="form-group col-md2">
            {% for error in form.c_value.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
            {{ form.c_value.label }}
            {{ form.c_value(class="form-control", placeholder="1") }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md2">
            {% for error in form.x_start.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
            {{ form.x_start.label }}
            {{ form.x_start(class="form-control", placeholder="1") }}
          </div>
          <div class="form-group col-md2">
            {% for error in form.x_end.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
            {{ form.x_end.label }}
            {{ form.x_end(class="form-control", placeholder="1") }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <input type="submit" value="描画">
          </div>
        </div>
      </form>
    </header>

    <main>
      <h1>グラフ</h1>
      <div>
        {% if graphData != None %}
          <img id="graphImage" src="data:image/png:base64,{{ graphData }}">
        {% else %}
          <div style="color: red;">グラフの描画に失敗しました</div>
        {% endif %}
      </div>
    </main>

    <!-- 以下にBootstrap用のJavaScriptを記述します -->
    <!-- jQueryの後にBootstrap JS(popper.jsバンドル版)を読み込む -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
  </div>
</body>

</html>